<div class="col-lg-12 col-md-12">
    <div class="card">
        <div class="card-header card-header-warning">
            <h4 class="card-title-center">Weekly Forecast</h4>
            <p class="card-category text-center">A weekly forecast for the sale of a particular flavor at the selected store</p>
        </div>
        <div class="card-body ct-chart mx-auto">
            <canvas id="lineChart" width="600" height="400" style="max-width: 1000px;"></canvas>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>
            <script type="text/javascript">
                //line
                const ctxL = document.getElementById('lineChart').getContext('2d');
                const myLineChart = new Chart(ctxL, {
                    type: 'line',
                    data: {
                        labels: <%- JSON.stringify(lineChart.lineChart_labels); %>,
                        datasets: [
                            {
                                label: "My Second dataset",
                                data: <%- JSON.stringify(lineChart.lineChart_data); %>,
                                backgroundColor: 'rgba(0, 137, 132, .2)',
                                borderColor: 'rgba(0, 10, 130, .7)',
                                borderWidth: 2
                            }
                        ]
                    },
                    options: {
                        responsive: true
                    }
                });
            </script>
        </div>
    </div>
</div>