<div class="sidebar" data-color="purple" data-background-color="white" data-image="/images/image.png" style="background-image: url('/images/image.png')">
  <div class="logo">
    <a href="/" class="simple-text logo-normal">
      Ice Cream Dashboard
    </a>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">
          <i class="material-icons">dashboard</i>
          <p>Dashboard</p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="/">
          <i class="material-icons">inventory</i>
          <p>Inventory</p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="/dashboard/stores">
          <i class="material-icons">stores</i>
          <p>Stores</p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="/dashboard/train_model">
          <i class="material-icons">model</i>
          <p>Train Model</p>
        </a>
      </li>
    </ul>
  </div>
</div>